.contenu__restapi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.restapi__carte{
    flex:1 0 250px;
}
#rest{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
#rest .bouton__ouvrir{

}